<p style="color: green"><%= notice %></p>

<h1>Monuments</h1>

<div id="monuments">
  <% @monuments.each do |monument| %>
    <%= render monument %>
    <p>
      <%= link_to "Show this monument", monument %>
    </p>
  <% end %>
</div>

<div data-controller="toggle" class="mt-5">
  <button class="btn btn-outline-primary" data-action="click->toggle#toggleForm">Add a new monument</button>
  <div class="d-none" data-toggle-target="togglableElement">
    <%= render "form", monument: @monument %>
  </div>
</div>

<%= link_to "New monument", new_monument_path %>
